@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  body{
    @apply bg-gray-200 bg-opacity-20
  }
  [aria-current="page"] {
    @apply text-purple-600 rounded-t-lg border-b-2 border-purple-600
  }
}
img {
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
  
}